# Copyright © Erickson Lopez. MIT License.
# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout
*.cs text diff=csharp eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.sln text eol=crlf
*.slnx text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.editorconfig text eol=lf

# Denote all binary files that should not be modified by Git
*.png binary
*.jpg binary
*.ico binary
*.nupkg binary
*.snupkg binary
